.cartTotal {
    border-top: 1px solid #bababa;
    padding: 2%;
}

.cartTotal span {
    float: right;
}

.emptyCart {
    font-weight: 500;
    padding: 5%;
    text-align: center;
    font-size: x-large;
    background: #f1f1f1;
    border-radius: 10px;
    color: #a0a0a0;
}

.cartTitle {
    font-weight: 600;
    font-size: x-large;
}