.product {
    height: 60%;
    width: 20%;
    margin: 1% 2%;
    transition: 0.30s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.product:hover {
    transform: scale(1.05);
}


.product img {
    height: 80%;
    width: 100%;
}

.productDescription {
    line-height: 1.5;
    font-weight: 600;
    padding: 0 2%;
    height: 12%;
}

.productTitle {
    font-size: x-large;
    font-family: system-ui;
}

.productCode {
    font-family: 'Oswald';
}

.soldOut {
    text-decoration: line-through;
}

.addToCartButton {
    width: 100%;
    text-align: end;
    height: 6%;
}

.productQuantity {
    text-align: center;
    height: 100%;
    width: 10%;
    border: 1px solid grey;
    border-radius: 5px;
    pointer-events: none;
    font-weight: bold;
}