.headerWrapper {
    height: 5%;
    display: flex;
    background-color: white;
    justify-content: space-between;
    box-shadow: 0 4px 6px -6px #222;
}

.appLogo {
    width: 5%;
}

.appName {
    width: 45%;
    color: black;
    margin: auto 0;
    font-weight: 700;
    font-size: x-large;
}

.headerButtons {
    margin: auto 5% auto auto;
    width: 45%;
}

.headerButtons a {
    padding: 1%;
    margin-right: 5%;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.headerButtons a:hover,
.headerButtons a.active {
    border-radius: 5px;
    background-color: #f2f2f2;
    color: black;
}

.headerButton {
    color: black;
    font-weight: bold;
}