 @import url('./UI/_commonStyles.css');

 body {
   margin: 0;
   font-family: var(--fontFamily);
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
 }

 code {
   font-family: var(--fontFamily);
 }

 html,
 body,
 #root {
   height: 100%;
 }